<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.movies.presentation">

    <application>
        <activity
            android:name=".base.MovieActivity"
            android:exported="true"
            android:permission="">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.example.movies"
                    android:pathPrefix="/main"
                    android:scheme="app" />
            </intent-filter>
        </activity>
    </application>

</manifest>